body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(199, 235, 250);
}

.App {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.main{
  width: 400px;
  border: 2px double rgb(212, 212, 212);
  padding: 20px 40px;
}

.heading1{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;  
}

.heading1:hover{
  letter-spacing: 6px;
  transition: 1s;
  cursor: pointer;
}

.balancep1{
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.balancep2{
  margin: 0;
  font-size: 30px;
  font-weight: 900;
}

.incomeExpenseDiv{
  background-color: white;
  box-shadow: 3px 5px 5px silver;
  display: flex;
  margin-top: 20px;
  padding: 20px;
}

.incomeDiv{
  border-right: 1px solid silver;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.IDp1{
  margin: 0;
  font-weight: 700;
  line-height: 26px;
}

.IDp2{
  margin: 0;
  font-weight: 900;
  font-size: 26px;
  color: green;
}

.expenseDiv{
  border-left: 1px solid silver;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.EDp1{
  margin: 0;
  font-weight: 700;
  line-height: 26px;
}

.EDp2{
  margin: 0;
  font-weight: 900;
  font-size: 26px;
color: red;
}

.historyDiv h2{
  margin-top: 40px;
  padding-bottom: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  border-bottom: 2px solid silver;
}








/* TransactionHistory Component Styling Started */

.transactionList{
  display: flex;
  width: 100%;
}

.transactionDiv{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 10px 10px 10px 0px;
  font-size: 20px;
  background-color: white;
  border-right: 5px solid red;
}

.textPara, .amountPara{
  margin: 0;
}

.redTransaction{
  border-right: 5px solid red;
}

.greenTransaction{
  border-right: 5px solid green;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 10px;
  margin: 10px 0px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.delete-btn:focus {
  outline: 0;
}

.transactionDiv:hover, .delete-btn:hover {
  opacity: 1;
}

/* TransactionHistory Component Styling Ended */






/* AddNewTransaction Component Styling Started */

.newTransactionHeading{
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 8px;
  border-bottom: 2px solid silver;
}

.newTransactionPara1, .newTransactionPara2{
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}

input{
  font-size: 18px;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.addBtnDiv{
  text-align: center;
}

.addBtnDiv button{
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  border: none;
  color: white;
  background-color: rgba(102, 51, 153, 0.829);
  cursor: pointer;
}

/* AddNewTransaction Component Styling Ended */








input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}